# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.venv/

# Logs and temp files
*.log
*.tmp
*.bak

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode config
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Python-specific
*.egg
*.egg-info/
dist/
build/

# Output folders
data/processed/
outputs/
